---
import "../styles/global.css";
import { MapPin } from "@lucide/astro";
---

<div class="about hidden pt-7 text-[20px]" data-target="about">
  <span class="flex justify-between px-11"
    ><span class="text-3xl">Martina</span><span class="textsecondary"
      >25 años</span
    ></span
  >
  <div class="flex items-center textsecondary gap-1 px-11">
    <MapPin size={"14px"} /><span>Argentina</span>
  </div>
  <span class="text-2xl linesTitle mt-2 px-11">Sobre mi</span>
  <p class="textsecondary tracking-widest px-11 md:w-[37rem]" id="show">
    Soy una escritora y poeta nacida en la melancolía porteña. Vivo entre libros
    antiguos, cafés que huelen a nostalgia y calles que susurran historias no
    contadas. Mi arte nace de la contemplación de lo cotidiano transformado en
    extraordinario, de la belleza que se esconde en los rincones más oscuros del
    alma humana.
  </p>
  <button id="leerMas" class="cursor-pointer px-11"
    ><span id="buttonText">Leer mas</span></button
  >

  <div class="poema-contenedor flex backdrop-blur-2xl gap-[1.5rem] flex-col mt-10 p-8 relative w-full bg-[#00000085] font-[Knewave] rounded-b-2xl">
<h1 class="text-3xl font-extrabold tracking-wide">Bajo la lluvia de tus ojos</h1>
<div class="font-light text-[#acacaceb] w-[18rem] md:w-[25rem] bg-[linear-gradient(to_bottom,var(--bg-heartblackFirst),transparent)] p-[1rem] ">
Bajo la lluvia de tus ojos,
mi silencio aprende a latir como un nombre antiguo;
as horas se deshilachan en la vendimia del viento,
y en cada rincón donde se esconde la tarde
nace un mapa de esperas que me guía
hacia la calma de tu sonrisa.
</div>
<div class="autor self-end tracking-[10px]">—Anonimo<div>
  </div>
</div>



<style>

  @reference "tailwindcss";
  .textsecondary {
    @apply text-[#ffffffb7] tracking-widest text-[1rem] font-bold;
  text-shadow: 0px 0px 1px #1c161a;
  }
  .linesTitle {
    @apply line-clamp-3;
  }

  /* Estilos para la animación */
  #show {
    overflow: hidden;
    height: 4.5em;
  }

  #leerMas {
    transition: color 0.3s ease;
  }

  #leerMas:hover {
    color: #464c55;
  }
</style>

<script>
  import { gsap } from "gsap";

  const show: HTMLElement | null = document.getElementById("show");
  const leerMas: HTMLElement | null = document.getElementById("leerMas");
  const buttonText: HTMLElement | null = document.getElementById("buttonText");
  let isExpanded: boolean = false;

  
  // Verificar que todos los elementos existen antes de continuar
  if (show && leerMas && buttonText) {
    const textoparrafo: string = show.textContent;
    show.textContent = show.textContent.slice(0, 100) + "...";
    gsap.to(show, {
      opacity: 1,
      duration: 1.5,
      ease: "power2.inOut",
      delay: 0.5,
    });

    // Función para expandir/contraer el texto
    leerMas.addEventListener("click", () => {
      if (!isExpanded) {
        // Expandir
        show.textContent = textoparrafo;
        gsap.to(show, {
          height: "auto",
          duration: 0.5,
          ease: "power2.inOut",
          onComplete: () => {
            if (buttonText) {
              buttonText.textContent = "Leer menos";
            }
          },
        });
      } else {
        // Contraer
        gsap.to(show, {
          height: "4.5em",
          duration: 0.5,
          ease: "power2.inOut",
          onComplete: () => {
            if (buttonText) {
              buttonText.textContent = "Leer mas";
              show.textContent = show.textContent.slice(0, 100) + "...";
            }
          },
        });
      }
      isExpanded = !isExpanded;
    });
  } else {
    console.error(
      "No se pudieron encontrar todos los elementos necesarios para la animación"
    );
  }
</script>
