---
import "../styles/global.css";
---

<div class=" w-full flex gap-[1rem] justify-center bg-[#1b1822]  rounded-2xl py-[5rem] " data-target="photos">

        <div class="grid gap-[1rem] grid-rows-[repeat(2,max-content)]">
        <img 
            class={"bg-[#d3d3d3] rounded-[2rem] transition-all hover:mix-blend-normal md:mix-blend-color-dodge shadow-[0px_4px_4px_rgba(0,0,0,0.25)] border-5 border-[#2e2e2e]"}
            src={`/photo-gallery1.png`}
            alt={`Foto 1`}
        />
        <img 
            class={"bg-[#d3d3d3] rounded-[2rem] transition-all hover:mix-blend-normal md:mix-blend-color-dodge shadow-[0px_4px_4px_rgba(0,0,0,0.25)] border-5 border-[#2e2e2e]"}
            src={`/photo-gallery4.png`}
            alt={`Foto 2`}
        />
        </div>
        <div class="grid gap-[1rem] grid-rows-[repeat(2,max-content)]">
        <img 
            class={"bg-[#d3d3d3] rounded-[2rem] transition-all hover:mix-blend-normal md:mix-blend-color-dodge shadow-[0px_4px_4px_rgba(0,0,0,0.25)] border-5 border-[#2e2e2e]"}
            src={`/photo-gallery2.png`}
            alt={`Foto 3`}
        />
        <img 
            class={"bg-[#d3d3d3] rounded-[2rem] transition-all hover:mix-blend-normal md:mix-blend-color-dodge shadow-[0px_4px_4px_rgba(0,0,0,0.25)] border-5 border-[#2e2e2e]"}
            src={`/photo-gallery5.png`}
            alt={`Foto 4`}
        />
        </div>
        <div class="grid gap-[1rem] grid-rows-[repeat(2,max-content)]">
        <img 
            class={"bg-[#d3d3d3] rounded-[2rem] transition-all hover:mix-blend-normal md:mix-blend-color-dodge shadow-[0px_4px_4px_rgba(0,0,0,0.25)] border-5 border-[#2e2e2e]"}
            src={`/photo-gallery3.png`}
            alt={`Foto 5`}
        />
        <img 
            class={"bg-[#d3d3d3] rounded-[2rem] transition-all hover:mix-blend-normal md:mix-blend-color-dodge shadow-[0px_4px_4px_rgba(0,0,0,0.25)] border-5 border-[#2e2e2e]"}
            src={`/photo-gallery6.png`}
            alt={`Foto 6`}
        />
        </div>
        
</div>